env/
sam2/
phiseg_checkpoints/
results/
temp_img_dir/
figures/
!segment-anything-2/sam2/
datasets/
!src/datasets/
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Notebooks
*.ipynb

TransformParameters*

